@model IEnumerable<ValleDorado.Models.Abono>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice Abonos</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Registrar Abono</a>
</p>
<table class="table table-striped" id="TablaIndice">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAbono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentoClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMetodoPagoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdReservaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAbono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentoClienteNavigation.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMetodoPagoNavigation.IdMetodoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdReservaNavigation.IdReserva)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.IdAbono">Edit</a> |
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.IdAbono">Details</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdAbono">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
